@import "./variables";

h1, h2 {
  font-weight: normal;
}


a {
  color: $primary;
}

body{
  background: $secondary;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: tint($secondary, 100%);
  margin-top: 60px;
}
